* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
    font-size: 62.5%;
}
h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: orange;
}
p {
    font-size: 1.6rem;
    font-weight: normal;
    color: #333;
}
.hero {
    display: grid;
    width: 90%;
    margin: 0 auto;
}
.hero-info {
    width: 90%;
    margin: 30px auto;
}
.hero-info h2 {
    text-align: center;
    margin-bottom: 15px;
}
.hero-info p {
    margin-bottom: 25px;
    margin-left: 35px;
}
.hero-info button {
    width: 150px;
    height: 50px;
    background-color: orange;
    border-radius: 20px;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    border: none;
    margin-left: 70px;
    margin-bottom: 15px;
}
.hero-image {
    width: 300px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}
.dishes {
    width: 90%;
    margin: 0 auto;
}
.dishes h2 {
    text-align: center;
    margin-bottom: 25px;
}
.dishes-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 15px;
}
.dishes-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video{
    grid-area: 1 / 1 / 2 / 3;
}